{% extends 'votingapp/base.html' %}
<title> {% block title %} Pollster Details {% endblock %}</title>
{% block content %}

<a href="{% url 'votingapp:home' %}" class="btn btn-secondary btn-sm mb-3">Back To Polls</a>
<h5 class="text-center mb-3" >{{ question.question_text}}</h5>

{% if error in error_message %}
    <p class="alert alert-danger">
        <strong>{{ error_message }}</strong>
    </p>
{% endif %}

<form action="{% url 'votingapp:vote' question.id %}" method="post">
    {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input style=" margin-top:15px;" type="radio" name="choice" class="form-check-input default" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
            <a href="{% url 'votingapp:delete_choice' choice.id%}"><button class="btn"><i class="fa fa-close"></i></button></a>
        {% endfor %}
        <input  type="submit" value="vote" class="btn btn-success btn-lg btn-block mt-4">
</form>

{% endblock %}